<!-- <p>
  mainmenu works!
</p>

<button type="button" (click) = "electronics();">Electronics</button>

<button type="button" (click) = "property();">Property</button>

<button type="button" (click) = "vehicles();">Vehicles</button>

<button type="button" (click) = "others();">Others</button> -->

<!-- <a(click) = "property();">Electronic</a>
<a(click) = "vehicles();">Electronic</a>
<a(click) = "others();">Electronic</a> -->

<nav class="navbar navbar-expand-lg bg-dark ">
    <ul class="navbar-nav">

      
        <li class="nav-item .col-xs-2 col-sm-2 col-md-2 col-lg-2"><a href="#" class="nav-link linknav">Home</a></li>

        <li class="nav-item col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="#" class="nav-link linknav">Post an Ad</a></li>

        <li class="nav-item col-xs-12 col-sm-12 col-md-12 col-lg-12"></li>
        <li class="nav-item col-xs-10 col-sm-10 col-md-10 col-lg-10"></li>
        <li class="nav-item dropdown col-lg-6"><a href="#" class="nav-link dropdown-toggle linknav" data-toggle="dropdown">My
                Account</a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">Profile</li>
                <li class="dropdown-item">my-ads</li>
                <li class="dropdown-item">Inbox</li>
                <li class="dropdown-item">Logout</li>
            </ul>
        </li>
    </ul>
</nav>
<br>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
<div class="container text-center">    
  <h2>Post Classifieds</h2><br>
  
</div><br>

<div class="container">    
  <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
      <div class="panel panel-primary">
        <div class="panel-heading"><b><h5>Properties</h5></b></div>
        <div class="panel-body"><img src="../assets/CategoryImg/Apartment.jpg" href="#" class="img-responsive" style="width:100%" alt="Image" (click) = "property();"></div>
        <div class="panel-footer">Apartment, Sites, Villa, Bangalow</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading"><b><h5>Electronics</h5></b></div>
        <div class="panel-body"><img src="../assets/CategoryImg/Electronics.jpg" class="img-responsive" style="width:100%" alt="Image" (click) = "electronics();"></div>
        <div class="panel-footer">Mobiles, TV, Others</div>
      </div>
    </div>
    <br>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
      <div class="panel panel-primary">
        <div class="panel-heading"><b><h5>Vehicles</h5></b></div>
        <div class="panel-body"><img src="../assets/CategoryImg/Bike1.jpg" class="img-responsive" style="width:100%" alt="Image" (click) = "vehicles();" ></div>
        <div class="panel-footer">2 Wheelers, 4 Wheelers, Others</div>
      </div>
    </div>
    <br>
    
    <br>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
      <div class="panel panel-primary">
        <div class="panel-heading"><b><h5>Others</h5></b></div>
        <div class="panel-body"><img src="../assets/CategoryImg/Books.jpg" class="img-responsive" style="width:100%" alt="Image" (click)= "others();"></div>
        <div class="panel-footer">Books, Furnitures</div>
      </div>
    </div>
  </div>
</div>
   
   
    </div>
</div>
