.email{
  margin-top:70px;
  margin-left:120px;
}

#mylist{
  margin-top:20px;
  margin-left:120px;
  width:250px;
}

.ans{
  margin-top:20px;
    margin-left:120px;
}

.btn{
  margin-top:20px;
  margin-left:100px;
}

#verify {
  margin-left:140px;
  margin-top: 50px

}

.email1 {
  margin-top:70px;
  margin-left:70px;
}

.update{
  margin-top:20px;
  background-color: black;
  color: white;
}

#updatedPass{
   margin-top:100px;
  margin-left:70px;
}

#link{
  margin-left:70px
}