.email {
  margin-top: 70px;
  margin-left: 23px;
}

#mylist {
  margin-top: 20px;
  margin-left: 23px;
  width: 262px;
}

.ans {
  margin-top: 20px;
  margin-left: 23px;
}

.btn {
  margin-top: 20px;
  margin-left: 23px;
}

#verify {
  margin-left: 6px;
  margin-top: 50px;
}

#verify1 {
  margin-left: 150px;
  margin-top: 50px;
}

.email1 {
  margin-top: 7px;
  margin-left: -360px;
}

.update {
  margin-top: 20px;
  background-color: black;
  color: white;
  width: 275px;
}

#updatedPass {
  margin-top: 200px;
  margin-left: 15px;
}

#link {
  margin-left: 15px;
}

.first1 {
  width: 260px;
}

.second1 {
  margin-top: 10px;
  margin-left: 3px;
  width: 260px;
}
